h1
{
	text-align:center;
    top: 50px;
    left: 10px;
	font-size: 45px;
	font-family: Arial black;
	text-decoration: underline;
	color: white;
	border: 3px yellow solid;
	text-transform: uppercase;
}  

img
{
	float:right;
	 width: 100px;
   height: 100px;
  bottom: 10px;
  right: 75px;
}
body
{ 
 font-family: Arial black;
 font-size: 14px;
 background-color:#2E748C;
 height: 375vh;
}
h2
{
	 font-size: 20px;
	 color: white;
}
h3
{
	 font-size: 20px;
	 color: white;
}
h4
{
	 font-size: 20px;
	 color: white;
}
h5
{
	 font-size: 20px;
	 color: white;
}
h6
{
	 font-size: 20px;
	 color: white;
}
p:hover
{
	border-left: 3px solid black;
}
td
{
	border: 1px solid red;
	color: #E0E3CF
}
table
{
	border-collapse: collapse;
}
a:hover
{
	color:white;
}
::-webit-Scrollbarr
{
	width: 0;
}

.bt
{
	
cursor: pointer;
}
::-webkit-Scrollbar
{
	width: 20px;
}
::-webkit-Scrollbar-track
{
	background: #dddddd;
}
::-webkit-Scrollbar-thumb
{
	background:#101837;
}

	